<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Choose Your Own Death</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="">Home</a></li>
          <li><a routerLink="shambling-halls-of-creeping-death">Play the Game!</a></li>
          <li><a routerLink="you-are-a-narcissist">Player info</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row">
    <app-shambling-halls-of-creeping-death>asdf</app-shambling-halls-of-creeping-death>
  </div>
</div>
